<div>

    <h1>Статистика</h1>
    <!--============================================================-->
    <hr>
    <h3>Заказы</h3>
    <table class="table table-hover">
        <tr>
            <td>Пользователь</td>
            <td>Что считаем</td>
            <td>Данные</td>
        </tr>
        <tbody>
        <tr>
            <td>[username]</td>
            <td>Всего заказов</td>
            <td>{{OrdersStats}}</td>
        </tr>
        </tbody>
    </table>

    <!--============================================================-->
    <hr>
    <h3>Мои заказы</h3>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Адрес доставки</td>
            <td>Стоимость</td>
        </tr>
        <tbody>
        <tr ng-repeat="order in allOrders">
            <td>{{order.id}}</td>
            <td>{{order.address}}</td>
            <td>{{order.totalPrice}}</td>
        </tr>
        </tbody>
    </table>

    <!--============================================================-->
    <hr>
    <h3>Топ продуктов из корзин всех пользователей</h3>
    <form novalidate ng-submit="loadTopProductsByAllUsers()">
        <input class="form-control" type="number" id="topLimit" placeholder="topLimit" ng-model="topLimit">
        <br>
        <button type="submit" class="btn btn-outline-success">ОК</button>
    </form>
    <br>

    <table class="table table-hover">
        <tr>
            <td>Продукт</td>
            <td>Количество</td>
        </tr>
        <tbody>
        <tr ng-repeat="top in topProductsByAllUsers">
            <td>{{top.title}}</td>
            <td>{{top.countInCart}}</td>
        </tr>
        </tbody>
    </table>


</div>
